{:supersecretkey #env SUPER_SECRET_KEY
 :admins-path "resources/admins.json"
 :admins-encrypted-path "resources/admins_encrypted.json"
 :cors-origin #or [#env CORS_ORIGIN "http://localhost:8080"]
 :env #or [#env ENV "dev"]
 :database {:dir #or [#env DATABASE_DIR ".db/"]
            :type "sqlite"}}
